---
title: Tuples
author: Zafer Kosar
format:
    html:
        code-fold: false
        css: styles/synthwave-84.css  # path to your custom CSS
---

## Representation

Tuples are very similar to lists in the sense that they represent sequence of values and support multiple types in the same sequence. But instead of `[]` they are enclosed within `()`.

In [4]:
seq = (1, 2, "hello")
type(seq)

tuple

tuples can also be declared without parantheses. However, using parantheses is the "concise" way and should be preferred when declaring tuples.

In [6]:
seq2 = "name", 2, 3.14
type(seq2)

tuple

## Immutability

Maybe the most important distinction between the lists and tuples is that list elements can be reassigned values as lists are **mutable**, which simply states they are changble. However, once they are created tuples cannot be assigned new values nor the existing values can be reassigned due to the **immutable** nature of tuples.

In [2]:
seq[1] = 0

TypeError: 'tuple' object does not support item assignment

## Unpacking Tuples

Declaring multiple variables at the same time is just creating the tuple (on the right side) and **unpacking** the values to the left-side variable names.

In [11]:
a,b,c = 1,2,3 # equivalent to a,b,c = (1,2,3)
print(a,b,c)
print(type(a), type(b), type(c))

1 2 3
<class 'int'> <class 'int'> <class 'int'>

### Unmatched sizes

What will happen if I try to assign 3 values to 2 variables?

In [12]:
a,b = 1,2,3

ValueError: too many values to unpack (expected 2)

To unpack first element to first variable and all the rest to second, you can use the `*` operator on the left side of the second variable name.

In [17]:
a, *b = 1, 2, 3
print(a, b)
print(type(a), type(b))

1 [2, 3]
<class 'int'> <class 'list'>

Simply put, `a` gets the first value `1` and `b` gets the remaining values as a `list`. Note that here `b` is a `list` type not a `tuple` type.

You can also assign the last element to the last variable and **unpack the rest** to `b`.

In [20]:
a, *b, c = 1, 2, 3, 4, 5
print(a,b,c)

1 [2, 3, 4] 5

In [15]:
type(b)

list

## Functions

A Function also return a tuple in the cases it returns multiple values at the same time.

In [31]:
def multiply_and_sum(a, b):
    product = a * b
    sum = a + b
    return product, sum

we will focus on functions very emphatatically later...

Then, we can call the function with some values.

In [32]:
results = multiply_and_sum(3, 4)
print(results, type(results))

(12, 7) <class 'tuple'>

You can, of course, use the unpacking logic to get individual values.

In [33]:
product, sum = multiply_and_sum(3, 4)
print(product, sum)

12 7