# Lists

Lists are used to store mutable **sequences** or **collection** of values (or items).

A list can be created with collection of values seperated by commas `,` and enclosed within `[]`

In [19]:
ids = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ids

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## List methods

Items also can be appended to the **end** of the list with `append()` method of list object.

In [20]:
ids.append(11)
ids

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

or they can also be appended to the beginning or any given (existing) index of a list via `insert()` method.

In [21]:
ids.insert(0, -1) # at index 0, insert -1
ids

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

It is possible to reverse a list via `reverse()` method.

In [22]:
ids.reverse()
ids

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1]

Any value in the list can also be removed via `remove()`. Note that, `remove()` only removes the first occurence of a value.

In [23]:
ids.remove(8)
ids

[11, 10, 9, 7, 6, 5, 4, 3, 2, 1, 0, -1]

Python has built-in `min()` and `max()` functions.

In [27]:
max(ids)

11

In [28]:
min(ids)

-1

Summation of all elements in the list are also possible.

In [42]:
sum(ids)

57

and the number of elements (length) in a list can be accessed via `len()` function.

In [35]:
len(ids)

12

Note that, `min()`, `max()`, and `len()` can be used with other collections of items such as **tuples** and **arrays**.

Lists objects have also be sorted via `sort()` method.

In [26]:
random_numbers = [5353, 314235, 353, 9,-12]
random_numbers.sort()
random_numbers

[-12, 9, 353, 5353, 314235]

Lists don't have to be collection of the same type values. **Any** Python object can be stored in a list including other lists.

In [36]:
mixed = ["a", "b", "c", 1, 10 , 100, True, False, ids, None, 3.14, random_numbers, "d", "e", "f"]
mixed

['a',
 'b',
 'c',
 1,
 10,
 100,
 True,
 False,
 [11, 10, 9, 7, 6, 5, 4, 3, 2, 1, 0, -1],
 None,
 3.14,
 [-12, 9, 353, 5353, 314235],
 'd',
 'e',
 'f']

Obiviously, you can not call `sort()`, `min()`, `max()` or similar methods on a mixed list.

## Indexing

Like most programming languages index start from `0` in Python. And the index should put within `[]` next to the list name.

In [37]:
mixed[0] # this will return the first element of a list

'a'

To access the last element in a list. You can use `-1` as the index. Or `-2`, `-3` so on as a way of starting from the end.

In [40]:
mixed[-1]

'f'

is equivalent to

In [41]:
mixed[len(mixed) - 1]

'f'

## Slicing

Let's say you want to get the first element on a list. You can use the `:5` (equivalent of `0:5`) for indexing that will return the first five elements.

In [45]:
mixed[:5]

['a', 'b', 'c', 1, 10]

Or you can get next 3 elements

In [46]:
mixed[5:8]

[100, True, False]

Or the last 5 elements

In [48]:
mixed[-5:]

[3.14, [-12, 9, 353, 5353, 314235], 'd', 'e', 'f']

Or you might the every second element. You can use the `::2` which means from **beginning to end** `::` every 2nd `2`.

In [49]:
mixed[::2]

['a', 'c', 10, True, [11, 10, 9, 7, 6, 5, 4, 3, 2, 1, 0, -1], 3.14, 'd', 'f']

Of course 2 can be changed with any number of your choosing.

In [50]:
mixed[::5]

['a', 100, 3.14]

Or you can get them in reverse order, basically reversing the list `::-1`

In [51]:
mixed[::-1]

['f',
 'e',
 'd',
 [-12, 9, 353, 5353, 314235],
 3.14,
 None,
 [11, 10, 9, 7, 6, 5, 4, 3, 2, 1, 0, -1],
 False,
 True,
 100,
 10,
 1,
 'c',
 'b',
 'a']